1. Load data (movie classification)

In [24]:
import pandas as pd
import numpy as np

In [37]:
bf = pd.read_csv('/content/Movie_classification.csv')
bf

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,201.264,59.62,462.0,36.524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,205.462,69.14,531.0,35.668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,205.458,69.14,531.0,39.912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,206.474,59.36,542.0,38873.89,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.381,59.36,542.0,39.701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,212.526,78.86,427.0,36.624.115,142.6,8.680,8.775,8.620,8.970,6.80,492480,NO,186.96,243.584,Action,27,561,44800,0
502,209.054,78.86,427.0,33996.6,150.2,8.780,8.945,8.770,8.930,7.80,482875,YES,132.24,263.296,Action,20,600,41200,0
503,212.152,78.86,427.0,38751.68,164.5,8.830,8.970,8.855,9.010,7.80,532239,NO,109.56,243.824,Comedy,31,576,47800,0
504,221.918,78.86,427.0,37740.67,162.8,8.730,8.845,8.800,8.845,6.80,496077,YES,158.80,303.520,Comedy,47,607,44000,0
505,209.482,78.86,427.0,33496.65,154.3,8.640,8.880,8.680,8.790,6.80,518438,YES,205.60,203.040,Comedy,45,604,38000,0

2. Cek nilai duplikat

In [26]:
duplicate = bf[bf.duplicated()]
print("Jumlah data duplikat: ", len(duplicate))

Jumlah data duplikat:  0

3. Menemukan null values buat presentase

In [27]:
bf.isna().sum()/len(bf)*100
# jumlah data kosong dibagi panjang datanya dikali 100

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

4. Drop missing value berdasarkan baris, kolom, imputasi dengan mean, modus, median

In [42]:
# Drop missing value berdasarkan baris
# Tidak terhapus permanen
bf_dropped_rows = bf.dropna()

In [43]:
# Drop missing value berdasarkan kolom
# Tidak terhapus permanen
bf_dropped_columns = bf.dropna(axis = 1)

In [44]:
# Data yang bertipe float tidak dapat dicari mean, modus, dan mediannya
# Maka perlu dicari tahu apa tipe data dari setiap kolom
print(bf.dtypes)

Marketing expense       object
Production expense     float64
Multiplex coverage     float64
Budget                  object
Movie_length           float64
Lead_ Actor_Rating     float64
Lead_Actress_rating    float64
Director_rating        float64
Producer_rating        float64
Critic_rating          float64
Trailer_views            int64
3D_available            object
Time_taken             float64
Twitter_hastags        float64
Genre                   object
Avg_age_actors           int64
Num_multiplex            int64
Collection               int64
Start_Tech_Oscar         int64
dtype: object

In [45]:
# Kolom yang memiliki missing value adalah kolom 'Time_taken', maka tipe datanya diganti menjadi numeric
# Kolom 'Time_taken' bersifat float karena terdapat titik.
# Titik diganti dengan kosong dan kolom dikonversi ke tipe numerik
bf['Time_taken'] = pd.to_numeric(bf['Time_taken'].astype(str).str.replace('.', ''), errors='coerce')

In [46]:
# Imputasi dengan mean
bf_imputed_mean = bf.fillna(bf.mean(numeric_only=True))

In [47]:
# Imputasi dengan median
bf_imputed_median = bf.fillna(bf.median(numeric_only=True))

In [48]:
# Imputasi dengan modus
bf_imputed_mode = bf.fillna(bf.mode().iloc[0])

In [49]:
# Memeriksa nilai null setelah imputasi
# Di sini menggunakan data imputasi dengan mean
print(bf_imputed_mean.isnull().sum())

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

5. Export data ke csv dan excel

In [50]:
bf_imputed_mean.to_csv('Movie_classification_cleaned_mean.csv', index=False)

In [51]:
bf_imputed_mean.to_excel('Movie_classification_cleaned_mean.xlsx', index=False)

In [52]:
df = pd.read_excel('/content/Movie_classification_cleaned_mean.xlsx')
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,201.264,59.62,462.0,36.524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,1096.0,223.840,Thriller,23,494,48000,1
1,205.462,69.14,531.0,35.668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,14664.0,243.456,Drama,42,462,43200,0
2,205.458,69.14,531.0,39.912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,14788.0,2022.400,Comedy,38,458,69400,1
3,206.474,59.36,542.0,38873.89,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,18536.0,225.344,Drama,45,472,66800,1
4,21.381,59.36,542.0,39.701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,17648.0,225.792,Drama,55,395,72400,1